@import "../../styles/colors";
@import "../../styles/utils";

.container {
  @include flex-center;
  height: 32px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
  text-align: center;
}
