@import "../../styles/utils.scss";
@import "../../styles/colors.scss";

.container {
  text-align: center;
  h2,
  h3 {
    margin: 36px 0;
    font-size: 44px;
  }

  section {
    @include flex-center;
    width: 100%;
  }

  img {
    width: 70%;
  }

  &__img__thresh {
    margin-top: -120px;
  }

  &__power {
    flex-direction: column;
    p {
      max-width: 50%;
      text-align: center;
    }
  }

  &__experience {
    flex-direction: row-reverse;
  }

  button {
    @include button-styles;
    @include flex-center;
    margin: 24px;
  }
}

.container__link {
  @include flex-center;
  height: 20vw;
}
