@import "../../styles/utils.scss";
@import "../../styles/colors.scss";

.container {
  img {
    width: 70%;
  }

  &__intro {
    @include flex-center;
  }

  &__power {
    @include flex-center;
    flex-direction: column;
    p {
      max-width: 50%;
      text-align: center;
    }
  }

  &__experience {
    @include flex-center;
    flex-direction: row-reverse;
  }

  section {
    width: 100%;
  }

  button {
    background-color: $cadet-blue-color;
    padding: 12px 24px;
    min-width: 56px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $middle-blue-color;
    }
    &:active {
      outline: $cadet-blue-color solid 1px;
    }
  }
}

.container__link {
  @include flex-center;
  height: 20vw;
}
