@import "../../styles/utils";
@import "../../styles/colors";

.container {
  @include flex-center;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  .nav {
    @include flex-center;
    flex-direction: row;

    width: 100%;
    &__search {
      width: 30%;
      input {
        height: 100%;
      }
    }
    &__tabs {
      width: 70%;
      border: solid 1px rgba(122, 122, 122, 0.5);
      ul {
        @include flex-center;
        flex-direction: row;
        list-style: none;
      }
    }
  }
}

.button {
  padding: 12px 24px;
  border: none;
  background: none;
  min-width: 80px;
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid $middle-blue-color;
    padding-top: 14px;
  }
}

.active {
  border-bottom: 2px solid $cadet-blue-color;
  padding-top: 14px;
}

// .active {
//   background-color: blue;
// }

// .inactive {
//   background-color: blueviolet;
// }
