@import "../../styles/utils";
@import "../../styles/colors";

.container {
  @include flex-center;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  .nav {
    @include flex-center;
    flex-direction: row;

    width: 100%;
    &__search {
      width: 30%;
      height: 44px;
      border: solid 1px rgba(122, 122, 122, 0.5);
      position: relative;

      .SearchIcon {
        height: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 20px;
        position: absolute;
      }
      label {
        visibility: hidden;
      }
      input {
        height: 100%;
        width: 100%;
        padding: 6px 36px;
        border: solid 1px rgb(255, 255, 255);
        position: absolute;
        left: 0;
      }
    }
    &__tabs {
      width: 70%;
      height: 44px;
      border: solid 1px rgba(122, 122, 122, 0.5);
      ul {
        @include flex-center;
        flex-direction: row;
        list-style: none;
      }
    }
  }
}

button {
  padding: 12px 24px;
  border: none;
  background: none;
  min-width: 80px;
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid $middle-blue-color;
    padding-top: 14px;
  }
}

.active {
  border-bottom: 2px solid $cadet-blue-color;
  padding-top: 14px;
}

.inactive {
  background-color: rgba(255, 255, 255, 0.616);
}
