@mixin flex-center {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flex-around {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
