@import "../../styles/colors";
@import "../../styles/fonts";

.container {
  height: 396px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  width: 100%;
  text-align: left;

  &:hover {
    img {
      transform: scale(1);
    }

    .utility {
      background-color: rgb(3, 28, 41);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    object-position: 85% 50%;
    transition: all 0.5s;
    transform: scale(1.05);
  }

  .utility {
    background-color: rgb(5, 40, 59);
    transition: background-color 0.4s ease-out;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    bottom: 0;
    width: 100%;
    color: $baby-powder-color;
    padding: 4px 12px;

    h4 {
      letter-spacing: 4px;
      padding: 0;
      // display: inline;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      font-size: 12px;
      margin-top: -6px;
      // display: inline;
      font-weight: lighter;
    }
  }

  .button {
    background-color: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 8px;
    width: 40px;
    min-width: 40px;
  }
}
