@import "../../styles/utils";
@import "../../styles/colors";

.container {
  background-color: $rich-black-color;
  color: $white-color;
  height: 76px;
  @include flex-around;
  &__logo {
    @include flex-around;
    &:hover {
      color: $baby-powder-color;
    }
  }
  &__img {
    max-height: 48px;
  }
}
