@import "../../styles/utils";
@import "../../styles/colors";

.container {
  background-color: $black-color;
  position: fixed;
  top: 0;
  text-transform: uppercase;

  color: $white-color;
  height: 76px;
  width: 100%;
  @include flex-around;
  &__logo {
    @include flex-around;
    &:hover {
      color: $baby-powder-color;
    }
  }
  &__img {
    max-height: 48px;
  }
}
