.container {
  border-top: 1px solid rgba(128, 128, 128, 0.7);
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 32px;
  font-size: 14px;
  padding: 20px;
  color: gray;
  text-align: center;
}
