@import "./styles/utils";

.App {
  @include flex-center;
  flex-direction: column;
  background-image: url("./assets/background-pattern.svg");

  &-main {
    margin: 76px 0;
    width: 100%;
    max-width: 1280px;
    padding: 1vw;
  }
}
