@import "./styles/utils";

.App {
  @include flex-center;
  flex-direction: column;
  &-main {
    margin-top: 76px;
    width: 100%;
    max-width: 1280px;
    padding: 1vw;
    border: 1px solid gray;
  }
}
